/* dark mode */
body {
	background-color: #000000;
	color: #ffffff;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: #444444; /* dark gray*/
}


.site-title {
  color: #ffffff; /* 흰색으로 변경 */
  font-size: 2em; /* 글자 크기 조정 */
  font-weight: bold; /* 글자 굵기 설정 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.site_nav {
  background-color: #333;
  color: white;
  padding: 10px;
}


/*.post-title {
  color: #ffffff; /* 흰색 (가독성을 높이기 위한 색상) */
/*  font-size: 2.5em; /* 글자 크기 조정 (필요 시) */
/*  font-weight: bold; /* 글자 굵기 조정 (필요 시) */
/*} */

/* Post navigation links */
.post_navi {
  display: flex;
  background-color: #1e1e1e; /* 네비게이션 배경을 어두운 색으로 변경 */
  padding: 10px; /* ?? */
  border-radius: 5px; /* ?? */
}

.post_navi-label {
  font-size: 0.8em;
  /*opacity: 0.5;*/
  opacity: 0.7; /* 가독성을 위해 약간 더 밝게 설정 */
  color: #ffffff; 
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  /*color: inherit !important;*/
  color: #ffffff; /* 링크 색상을 흰색으로 변경 */
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .post_navi-arrow {
  /*opacity: 0.6; /* 다크 모드에서 가독성을 위해 더 밝게 */
  color: #ffffff;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}


pre, code {
	background-color : #2e2e2e;
	color: #f8f8f2;
	padding: 10px;
	border-radius: 5px;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
